body {
  background: #FEF8E8;
  font-family: "Nunito", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
/* gaada */
.navbar.scrolled {
  background: #739DA3;
  transition: background 1000ms;
}

.contact {
  width: 3vw;
  margin-top: 7px;

}

#mainNavbar .navbar-brand {
  color: #FBBB5C;
  font-size: 1.5rem;
  font-weight: bold;
}

#deskripsiDiri h1 {
  font-weight: 100;
  font-size: 4rem;
  color: #E35147;
  text-align: center;
}

#aku {
  margin-left: 10%;
  margin-right: 10%;
  color: #742222;
  font-weight: 1000;
}


#daftarKontak {
  text-align: center;
  height: 50px;
  background-color: #83B0B6;
  color: #FEF8E8;
  width: 100%;
  

}









